*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
body .home{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}
p{
    font-size: 5pc;
    color: #333;
}

.start{
    font-size: 3pc;
    margin-top: 25px;
    padding: 10px;
    border: none;
    outline: none;
    background-color: #28a745;
    color: white;
    border-radius: 8px;
    box-shadow: 4px 4px 2px rgba(29, 187, 76, 0.25);
}
.start:hover{
    background-color: #218838;
    cursor: pointer;
}
.start:active{
    box-shadow: 2px 2px 1px rgba(29, 187, 76, 0.25);
    transform: translate(0.5px, 0.5px);
}

.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 30%;
      background-color: #cce2c2;
}
.container main{
    position: relative;
    height: 100%;
    width: 100%;
}
main header{
    min-height: 120px;
    width: 100%;
}
header h2{
    font-size: 2pc;
    margin-left: 20px;
    margin-top: 20px;
}
header i{
    float: right;
    margin-right: 30px;
    cursor: pointer;
}
header .count{
    font-size: 1.5pc;
    float: right;
    color: #333;
    margin-right: -20px;
    margin-top: 35px;
    background: orange;
    padding: 5px 10px;
    border-radius: 5px;
    font-weight: bold;
}
main .qn{
    width: 100%;
    min-height: 150px;
}
.qn .ask{
    width: 100%;
    background: aliceblue;
    line-height: 60px;
    font-size: 1.5pc;
    padding-left: 20px;
    border-radius: 8px;
}
.qn .timer{
    margin-top: 20px;
    margin-right: 20px;
    float: right;
    background: #28a745;
    font-size: 1.5pc;
    padding: 5px;
    border-radius: 5px;
}

.ans{
    width: 100%;
    min-height: 200px
}
.ans ul{
    height: 100%;
    width: 100%;
    background-color: #fff;
     padding-top: 10px;
     border-radius: 8px;
     padding: 10px;
}
 ul li{
    list-style: none;
    line-height: 50px;
    background: #fefefe;
    margin-bottom: 15px;
    border-radius: 8px;
    border: 2px solid #ddd;
    padding-left: 10px;
    font-size: 1.5pc;
    cursor: pointer;
 }
 ul .disabled{
    pointer-events: none;
    opacity: 0.9;
 }
 ul li:nth-child(4){
    margin-bottom: 0;
 }
 ul li:hover{
    background: #eee;
    border-color: #181818;
 }
 .correct{
    background: #e0f7e0;
    border-color: #28a745;
 }
 .wrong{
    background: #f7e0e5;
    border-color: #a72828;
 }
 li span{
    float: right;
    margin-right: 20px;
 }
 .ans .next{
    float: right;
    margin: 20px;
    color: green;
    font-size: 1.2pc;
    font-weight: bold;
    cursor: pointer;
 }
 .ans .next:hover{
    color: darkgreen;
 }
 main .last{
    height: auto;
    width: 100%;
    position: absolute;
    bottom: 20px;
    display: flex;
    justify-content: center;

 }
 main .last h6{
    font-size: 0.8pc;
    
 }

/* Responsive For Mobile devices */
@media (max-width: 768px) {
    p{
        font-size: 3pc;
    }
    .start{
        font-size: 2.3pc;
    }
    .container{
        padding: 0 10%;
    }
    header h2{
        font-size: 1.5pc;
    }
    header .count{
        font-size: 1.2pc;
    }
    .qn .ask{
        font-size: 1.2pc;
    }
    .qn .timer{
        font-size: 1.2pc;
    }
    ul li{
        font-size: 1.2pc;
    }
}
@media (max-width: 600px){
    body{
        height: 93vh;
    }
    .container{
        height: 100%;
    }
    .qn{
        min-height: 100px;
    }
    .qn .ask{
        padding-top: 5px;
        padding-bottom: 5px;
        font-size: 1.1pc;
        margin: 0;
        line-height: 30px;
    }
}

.final{
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
}
.final h2{
    font-size: 2.5pc;
    color: #111;
    margin-bottom: 40px;
}
.final .progress{
    height: 30px;
    width: 80%;
    background: #ddd;
    border-radius: 15px;
    position: relative;
    margin-bottom: 50px;
}
.final .progress .mark{
    height: 100%;
    width: 60%;
    background: #28a745;
    border-radius: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 1.5pc;
}
.result{
    position: absolute;
    height: 500px;
    width: 500px;
    border-radius: 8px;
    background: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.result h3{
    font-size: 1.8pc;
    
}
.result p{
    font-size: 1.3pc;
    margin-top: 40px;
}
.result button{
    font-size: 1.3pc;
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: #22ae1a;
    color: white;
    border-radius: 8px;
    box-shadow: 4px 4px 2px rgba(29, 187, 76, 0.25);
    margin-top: 50px;
    cursor: pointer;
}
.result button a{
    color: white;
    text-decoration: none;
}

@media screen and (max-width: 600px) {
    .final h2{
        font-size: 2pc;
    }
    .final .progress{
        width: 90%;
    }
    .final .progress .mark{
        font-size: 1.2pc;
    }
    .result{
        width: 90%;
        height: auto;
        padding: 20px;
    }
    .result h3{
        font-size: 1.5pc;
    }
    .result p{
        font-size: 1.2pc;
        text-align: center;
    }
    .result button{
        font-size: 1.2pc;
    }
    
}